/*********** mian ***********/

/*==========container==========*/
section{position: relative;width: 100%;margin-bottom: 48px;}
.vod-wrap, .news-wrap, .info-wrap, .rank-wrap, .broad-wrap{overflow: hidden;}
/*noti*/
.noti-wrap{padding: 24px 0 23px;margin: 0;background: #fff;}
.noti-area, .onair-area{overflow: hidden}
.noti-left{float:left;width: 220px;height: 56px;text-align: center;}
.noti-left .txt-noti{margin-top: 20px;}
.noti-right{float:right;width: 836px;height: 56px;line-height: 57px;overflow: hidden;}
.noti-right li{}
.noti-right p{display: inline-block;width: 824px;margin: 0;font-family: 'notokr-demilight';font-size: 30px;color:#222;
transition: all 1s;-webkit-transition: all 1s;-ms-transition: all  1s;}

/*주요 경기방송*/
.broad-wrap{width: 1104px;margin-bottom: 38px;background: #fff;}
.today-area{float: left;width: 220px;height: 220px;background: url("../images/bg-today.png") no-repeat center;}
.today-area .date{margin-top: 53px;padding-right: 1px;font-family:Verdana,'Verdana';font-size: 18px;color:#0088d1;font-weight: bold;text-align: center;}
.broad-area{position: relative;float:right;width: 836px;height: 220px;border-top:1px solid #0088d1;border-bottom:1px solid #E5E5E5;box-sizing: border-box;overflow: hidden;}
.broad-area .btn{position: absolute;top: 0;width: 8px;height: 13px;margin:11px 0;background: url("../images/btn-broad.png") no-repeat center;cursor: pointer;}
.broad-area .btn.prev{left: 0;background-position: 0 0;}
.broad-area .btn.prev:hover{left: 0;background-position: 0 -13px;}
.broad-area .btn.next{right: 0;background-position: -8px 0;}
.broad-area .btn.next:hover{right: 0;background-position: -8px -13px;}
.broad-area ul{overflow: hidden}
.broad-area ul li{float:left;width: 209px;}
.broad-area ul li a{display: block;width: 100%;height: 100%;}
.broad-area ul li a .time{padding-right: 2px;border-bottom:1px solid #0088d1;font-family:Verdana,'Verdana';font-size: 16px;color:#0088d1;font-weight: bold;line-height: 36px;text-align: center;box-sizing: border-box;}
.broad-area ul li a .txt-wrap{width: 100%;height: 180px;border-right:1px solid #E5E5E5;box-sizing: border-box;text-align: center;}
.broad-area ul li:nth-child(4n) a .txt-wrap{border-right:0;}
.broad-area ul li a .txt-wrap p{font-family: 'notokr-demilight';font-size: 16px;color:#222;line-height: 24px;}
.broad-area ul li a .txt-wrap .con{display: inline-block;width: 189px;}
.broad-area ul li a .img{display: inline-block;width: 75px;height: 75px;margin:25px 0 12px;background: url("../images/ico-gamType.png") no-repeat center;}
.broad-area ul li.type1 a .img{background-position: 0 0;}
.broad-area ul li.type2 a .img{background-position: -75px 0;}
.broad-area ul li.type3 a .img{background-position: -150px 0;}
.broad-area ul li.type4 a .img{background-position: -225px 0;}
.broad-area ul li.type5 a .img{background-position: -300px 0;}
.broad-area ul li.type6 a .img{background-position: -375px 0;}
.broad-area ul li.type7 a .img{background-position: -450px 0;}
.broad-area ul li.type8 a .img{background-position: -525px 0;}
.broad-area ul li.type9 a .img{background-position: -600px 0;}
.broad-area ul li.type10 a .img{background-position: -675px 0;}
.broad-area ul li.type11 a .img{background-position: -750px 0;}
.broad-area ul li.type12 a .img{background-position: -825px 0;}
.broad-area ul li.type13 a .img{background-position: -900px 0;}
.broad-area ul li.type14 a .img{background-position: -975px 0;}
.broad-area ul li.type15 a .img{background-position: -1050px 0;}


/*HOTISSUE*/
section.hot-wrap{width: 100%;height: 548px;padding-top: 10px;background: #fff url("../images/bg-main-hot.png") no-repeat center 10px;}
.hot-wrap h3.tit-con{margin: 25px 0 12px;;}
.hot-area{position: absolute;top:66px;left: 0;width: 100%;height: 432px;overflow: hidden;}
.hot-area .slide{width: 100%;height: 100%;overflow: hidden;}
.hot-area .slide a{display:none;float:left;width: 100%;height: 432px;}
.hot-area .slide a.on{display: block;}
.hot-area .vod-area{float:left;width: 768px;height: 100%;}
.hot-area .vod-area img, .hot-area .vod-area iframe{width: 100%;}
.hot-area .txt-wrap{float: left;width: 276px;padding:53px 30px;}
.hot-area .txt-wrap .title{font-family: 'notokr-medium';font-size:30px;color:#fff;line-height: 40px;letter-spacing: -1.5px;}
.hot-area .txt-wrap .txt{margin-top: 19px;font-family: 'notokr-demilight';font-size: 18px;color:#c4e2f3;line-height: 28px;letter-spacing: -1px;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;-webkit-line-clamp:3;}
.hot-wrap .img-label{position: absolute;top: 96px;right: 283px;width: 79px;height: 6px;background: url("../images/img-label.png") no-repeat center;z-index: 10;}
.hot-wrap .img-character{position: absolute;bottom: 21px;right: -15px;width: 203px;height: 183px;background: url("../images/img-character-v3.png") no-repeat center;z-index: 10}
.hot-wrap .btn-box{position: absolute;top: 10px;right: 0;width: 113px;height: 56px;overflow: hidden;}
.hot-wrap .btn-box .btn{float:left;width: 56px;height: 56px;background: url("../images/btn-hot.jpg") no-repeat center;;background-position: 0;cursor: pointer;}
.hot-wrap .btn-box .btn.prev{margin-right: 1px;background-position: 0 0;}
.hot-wrap .btn-box .btn.prev:hover{background-position: 0 -56px;}
.hot-wrap .btn-box .btn.next{background-position: -56px 0;}
.hot-wrap .btn-box .btn.next:hover{background-position: -56px -56px;}
.hot-wrap .slide-num{position: absolute;bottom: 110px;right: 286px;font-family:Verdana,'Verdana';font-size: 10px;color:#c4e2f3;line-height: 1;}
.hot-wrap .slide-num strong{margin-right: 4px;font-size:18px;color:#fff;font-weight: normal;}
.hot-wrap .indicator{position: absolute;right: 366px;bottom: 25px;height: 35px;}
.hot-wrap .indicator .indi{position: relative;display: inline-block;margin-right: 10px;text-align: center;}
.hot-wrap .indicator .indi .vline{position: absolute;top: 0;left: 4.5px;display: inline-block;width: 1px;height: 26px;background: none;}
.hot-wrap .indicator .btn{width: 10px;height: 10px;margin-top: 25px;border:1px solid #fff;border-radius: 50%;background: transparent;cursor: pointer;}
.hot-wrap .indicator .indi.on .vline{background: #fff;}
.hot-wrap .indicator .indi.on .btn{background: #fff;}
.hot-wrap .indicator .ico-playstop{width: 8px;height: 9px;margin-top: 25px;background: url("../images/ico-playstop.png") no-repeat center;background-position: 0 0;}
.hot-wrap .indicator .ico-playstop.ico-play{width: 8px;height: 10px;background-position: 0 -9px;}


/*메달 순위*/
.rank-wrap.open .rank-default, .rank-wrap.open .rank-ko .rank-ko-default{display: none;}
.rank-wrap{padding-bottom: 46px;border-bottom: 1px solid #E5E5E5;}
.rank-wrap .tit-wrap{display: inline-block;width: 755px;margin-bottom: 12px;}
.rank-wrap .link-full{right: 349px;top:-2px;}
.rank-wrap .sec-area{width: 755px;margin-right: 13px;border-top:1px solid #000;}
.rank-wrap .sec-area dl.list-name{height: 34px;border-bottom:1px solid #E5E5E5;}
.rank-wrap .list-name dt, .rank-wrap dd{display: inline-block;text-align: center;vertical-align: top;}
.rank-wrap .list-name dt.second{text-align: left;}
.rank-wrap .list-name dt{font-family: 'notokr-demilight';font-size:14px;color:#757575;line-height: 36px;}
.rank-wrap .list-name dt.first{width: 37px;padding-left: 3px;}
.rank-wrap .second{width: 163px;padding:0 9px 0 20px;text-align: left;}
.rank-wrap .equal{position: relative;width: 40px;height: 29px;padding-top: 5px;text-align: center;}
.rank-wrap .equal.last{padding-right: 21px;border-right:1px solid #E5E5E5;}
.rank-wrap .round{display: inline-block;width: 22px;height: 22px;margin-left: 1.5px;border-radius: 50%;background: url("../images/ico-round.png") no-repeat center;}
.rank-wrap .rud1{background-position:0 0;}
.rank-wrap .rud2{background-position:-22px 0;}
.rank-wrap .rud3{background-position:-44px 0;}
.rank-wrap .equal strong{position: absolute;top: 6px;left: 15px;font-family: 'notokr-medium';font-size: 14px;color:#000;line-height: 22px;}

.rank-wrap .sec-area{position: relative;overflow: hidden;}
.rank-wrap .sec-area .rank-con{height: 126px;overflow: hidden;}
.rank-wrap .rank-default{position: absolute;bottom: 0;left: 0;z-index: 100;}
.rank-con dl{width: 377px;height: 25px;margin-top: 17px;line-height: 23px;}
.rank-con dl:nth-child(4), .rank-con dl:nth-child(5), .rank-con dl:nth-child(6){margin-left: 377px;}
.rank-con dl:nth-child(4){margin-top: -109px;}
.rank-wrap .rank-con .first{width: 37px;padding-left: 4px;}
.rank-con .txt-rank{display: inline-block;width: 10px;height: 13px;margin-top: 6px;background: url("../images/txt-num-rank.png") no-repeat center;font-size: 0;text-indent: -9999em;vertical-align: top;}
.rank-con .txt-rank.num1{background-position: 0 0;}
.rank-con .txt-rank.num2{background-position:-10px 0;}
.rank-con .txt-rank.num3{background-position:-20px 0;}
.rank-con .txt-rank.num4{background-position:-30px 0;}
.rank-con .txt-rank.num5{background-position:-40px 0;}
.rank-con .txt-rank.num6{background-position:-50px 0;}
.rank-con .img{position: relative;display: inline-block;width: 38px;height: 25px;margin-right: 12px;overflow: hidden;vertical-align: top;text-align: center;}
.rank-con .img:after{display: inline-block;content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;border:1px solid rgba(0,0,0,0.08);box-sizing: border-box;z-index: 50;}
.rank-con .img img{height: 100%;}
.rank-con .nation{display: inline-block;width: 113px;font-family: 'notokr-medium';font-size: 16px;color:#000;}
.rank-con .equal{padding-top: 0;font-family:Verdana,'Verdana';font-size: 16px;color:#000;}

.rank-ko{position:relative;width: 336px;height: 191px;margin-top:-29px;font-family:Verdana,'Verdana',돋움;}
.rank-ko .rank-ko-default{position:absolute;top:0;left:0;width: 336px;height: 191px;background: url("../images/bg-medalRank.png") no-repeat center;z-index: 100;}
.rank-ko .rank-ko-default .txt{margin-top: 39px;font-family: 'notokr-demilight';font-size: 14px;color:#757575;letter-spacing: -1px;text-align: center;}
.rank-ko .rank-ko-wrap{position:absolute;top:0;left:0;width: 336px;height: 191px;background: url("../images/bg-medalRank2.jpg") no-repeat center;}
.rank-ko .txt-ko{margin-top: 43px;margin-bottom: 15px;text-align: center;}
.rank-ko .txt-ko strong{display: inline-block;width: 62px;height: 62px;margin:0 15px; font-size: 24px;color:#000;line-height: 62px;}
.rank-ko .txt-ko strong .txt{font-size: 0;text-indent: -9999em;}
.rank-ko .txt-wrap{width:100%;height: 16px;}
.rank-ko .txt-wrap .text{display: inline-block;height: 100%;font-size: 0;text-indent: -9999em;vertical-align: top;}
.rank-ko .txt-wrap .text.first{width: 130px;}
.rank-ko .txt-wrap .text.last{width: 20px;}
.rank-ko .txt-wrap .num{font-size: 16px;color:#0088d1;font-weight: normal;line-height: 16px;text-align: center;}
.rank-ko .txt-wrap .date{display: inline-block;font-size: 14px;color:#757575;line-height: 16px;vertical-align: top;letter-spacing: -1.5px;}
.rank-wrap .link-glory{position: absolute;bottom: 0;left: 0;display: inline-block;width: 100%;height: 42px;}


/*뉴스*/
.news-wrap .sec-area .tit-con{margin-bottom: 12px;}
.new-list li:hover .img:after{top: 0;left: 0;width: 100%;height: 100%;border:1px solid #0090d4;background: none;}
.new-list li:hover .title,  .list-type li:hover .txt-wrap .title b{color:#0090d4;text-decoration: underline;}
.new-list .img{height: 250px;}
.new-list .img:after{top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.1);z-index: 20;}
.new-list .num{margin-left: -1px;}
.new-list .num:before{display: none;}
.ad-banner{width: 828px;height: 90px;margin-top: 28px;background: #EBEBEB;}


/*많이 본 뉴스*/
.tit-news{display: inline-block;width: 100%;margin-top: 4px;margin-bottom: 12px;}
.news-lots{padding: 19px 10px 21px 0; border-top:1px solid #000;border-bottom: 1px solid #E5E5E5;}
.news-lots li{position: relative;padding:0 0 0 28px;margin-bottom: 16px;}
.news-lots li:last-child{margin-bottom: 0;}
.news-lots li a{display: block;width: 100%;height: 100%;}
.news-lots li .rank{position: absolute;top: 4px;left: 0;width: 16px;height: 22px;background-image: url("../images/txt-num.png");background-repeat: no-repeat;}
.news-lots li .num1{background-position: 0 0;}
.news-lots li .num2{background-position: 0 -22px;}
.news-lots li .num3{background-position: 0 -44px;}
.news-lots li .num4{background-position: 0 -66px;}
.news-lots li .num5{background-position: 0 -88px;}
.news-lots li .num6{background-position: 0 -110px;}
.news-lots li .num7{background-position: 0 -132px;}
.news-lots li .title, .news-lots li .title strong, .news-lots li .title b{max-height: 48px; font-family: 'notokr-medium';font-size:16px;color:#222;line-height: 24px;font-weight: normal;}
.news-lots li:hover .title, .news-lots li:hover .title b{color:#0090d4;text-decoration: underline;}

/*하단배너*/
.info-wrap{width: 1123px;height: 228px;}
.info-wrap a{display: block;width: 100%;height: 100%;background: url("../images/img-info-v4.png") no-repeat center;font-size: 0;text-indent: -9999em;}

/*SNS*/
.sns-wrap{overflow: hidden;}
.sns-wrap .tit-con{margin-bottom: 12px;}
.insta-area{padding:20px;border:1px solid #E5E5E5;box-sizing: border-box;overflow: hidden;}
.insta-area li{position: relative;float:left;width: 250px;height: 250px;overflow: hidden;}
.insta-area li:nth-child(2){margin: 0 18px;}
.insta-area li:after{display: inline-block;content: '';position: absolute;top: 0;right: 0;width: 34px;height: 34px;background: url("../images/ico-imginsta.png") no-repeat center;z-index: 50;}
.insta-area li a{display: inline-block;width: 100%;height: 100%;text-align: center;}
.insta-area li a img{height: 100%;text-align: center;}
.insta-area li .txt-wrap{position: absolute;bottom: 0;left: 0;width: 230px;padding:10px 10px 8px;background: rgba(0,0,0,0.5);text-align: left;}
.insta-area li .txt-wrap .img{display: inline-block;width: 40px;height: 40px;margin-right: 10px;border-radius: 50%;border:1px solid #E5E5E5;box-sizing: border-box;overflow: hidden;}
.insta-area li .txt-wrap .title{display: inline-block;font-family: '돋움',dotdum, dotdum, sans-serif;color:#fff;letter-spacing: 0.5px;font-weight: bold;line-height: 40px;}
.sns-area{width: 250px;height: 292px;}

























