@charset 'utf-8';
@font-face {
	font-family: 'notokr-thin';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-thin.eot');
	src: url('../font/notokr-thin.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-thin.woff') format('woff'),
		url('../font/notokr-thin.ttf') format('truetype'),
		url('../font/notokr-thin.svg#notokr-thin') format('svg');
}

@font-face {
	font-family: 'notokr-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-regular.eot');
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-regular.woff') format('woff'),
		url('../font/notokr-regular.ttf') format('truetype'),
		url('../font/notokr-regular.svg#notokr-light') format('svg');
}

@font-face {
	font-family: 'notokr-light';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-light.eot');
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-light.woff') format('woff'),
		url('../font/notokr-light.ttf') format('truetype'),
		url('../font/notokr-light.svg#notokr-light') format('svg');
}

@font-face {
	font-family: 'notokr-demilight';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-demilight.eot');
	src: url('../font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-demilight.woff') format('woff'),
		url('../font/notokr-demilight.ttf') format('truetype'),
		url('../font/notokr-demilight.svg#notokr-demilight') format('svg');
}

@font-face {
	font-family: 'notokr-medium';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-medium.eot');
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-medium.woff') format('woff'),
		url('../font/notokr-medium.ttf') format('truetype'),
		url('../font/notokr-medium.svg#notokr-medium') format('svg');
}

@font-face {
	font-family: 'notokr-bold';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-bold.eot');
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-bold.woff') format('woff'),
		url('../font/notokr-bold.ttf') format('truetype'),
		url('../font/notokr-bold.svg#notokr-bold') format('svg');
}
@font-face {
	font-family: 'notokr-black';
	font-style: normal;
	font-weight: normal;
	src: url('../font/notokr-black.eot');
	src: url('../font/notokr-black.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-black.woff') format('woff'),
		url('../font/notokr-black.ttf') format('truetype'),
		url('../font/notokr-black.svg#notokr-black') format('svg');
}
@font-face {
    font-family: 'noto-regular';
    font-style: normal;
    font-weight: normal;
    src:  url('../font/noto-regular.eot');
    src:  url('../font/noto-regular.eot?#iefix') format('embedded-opentype'),
            url('../font/noto-regular.woff') format('woff'),
            url('../font/noto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-italic';
    font-style: normal;
    font-weight: normal;
    src:  url('../font/noto-italic.eot');
    src:  url('../font/noto-italic.eot?#iefix') format('embedded-opentype'),
            url('../font/noto-italic.woff') format('woff'),
            url('../font/noto-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-bold';
    font-style: normal;
    font-weight: normal;
    src:  url('../font/noto-bold.eot');
    src:  url('../font/noto-bold.eot?#iefix') format('embedded-opentype'),
            url('../font/noto-bold.woff') format('woff'),
            url('../font/noto-bold.ttf') format('truetype');
}
