
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div class="program_w_popup">
        <div class="program_popup_vrplayer_w">
            <h1 class="popup_title">
                <a class="mo_icn pt_logo" href="http://www.sbs.co.kr/" target="_blank" rel="noreferrer"><i class="ir">SBS</i></a>

                <div class="pt_imgtxt_w">
                    <span class="mo_icn pt_imgtxt_video"><i class="ir">평창동계올림픽 VR 영상</i></span>
                </div>

            </h1>
            <div class="popup_contents">
                <div class="vrplayer_video_w">

                    <iframe src="http://olympics2018-web.sportscms.intel.com/truevrwebplayer/LwPjbArWnCkz?autoplay=true&fullscreen=true" id="videoFrame" frameborder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 846px; height:476px;"></iframe>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
